In [12]:
import sqlite3 as sql

In [13]:
conn = sql.connect("data.db")

In [14]:
cur = conn.cursor()

In [15]:
#cur.execute("DROP TABLE datatable;")

In [16]:
#cur.execute("CREATE TABLE datatable(text MEDIUMTEXT, keywords varchar(100), PRIMARY KEY(text));")

In [17]:
cur.execute("SELECT name FROM sqlite_schema WHERE type='table' AND name NOT LIKE 'sqlite_%';")
cur.fetchall()

[('datatable',)]

In [19]:
conn.commit()

In [20]:
def insert(values):
    # opened and closed connection here since Flask started giving errors about closed database
    conn = sql.connect("data.db")
    cur = conn.cursor()
    tester = [values[0]]
    cur.execute("select * from datatable where text = ?", tester)
    output = cur.fetchall()
    if len(output) == 0:
        cur.execute("INSERT INTO datatable (text, keywords) VALUES (?, ?)", values)
        conn.commit()
    else:
        print("exists")
    conn.close()

In [22]:
cur.execute("select * from datatable")
cur.fetchall()

[('hisss', 'b')]

In [21]:
t = "hisss"
x = "b"
values = [t, x]
insert(values)

In [23]:
conn.commit()
conn.close()