In [1]:
import sqlite3 as sql

In [3]:
conn = sql.connect("data.db")

In [4]:
cur = conn.cursor()

In [5]:
#cur.execute("CREATE TABLE datatable(text MEDIUMTEXT, keywords varchar(100), PRIMARY KEY(text));")

In [6]:
cur.execute("SELECT name FROM sqlite_schema WHERE type='table' AND name NOT LIKE 'sqlite_%';")
cur.fetchall()

[('datatable',)]

In [7]:
conn.commit()

In [8]:
def insert(values):
    tester = [values[0]]
    cur.execute("select * from datable where text = ?", tester)
    ouput = cur.fetchall()
    if len(output) == 0:
        cur.execute("INSERT INTO datatable (text, keywords) VALUES (?, ?)", values)
        conn.commit()
    else:
        print("exists")

In [9]:
cur.execute("select * from datatable")
cur.fetchall()

[]