In [2]:
import sqlite3 as sql

In [3]:
conn = sql.connect("data.db")

In [4]:
cur = conn.cursor()

In [28]:
# cur.execute("DROP TABLE datatable;")

In [29]:
# cur.execute("CREATE TABLE datatable(text MEDIUMTEXT, keywords varchar(100), PRIMARY KEY(text));")

In [30]:
cur.execute("SELECT name FROM sqlite_schema WHERE type='table' AND name NOT LIKE 'sqlite_%';")
cur.fetchall()

[('datatable',)]

In [43]:
conn.commit()

In [32]:
def insert(values):
    # opened and closed connection here since Flask started giving errors about closed database
    conn = sql.connect("data.db")
    cur = conn.cursor()
    tester = [values[0]]
    cur.execute("select * from datatable where text = ?", tester)
    output = cur.fetchall()
    if len(output) == 0:
        cur.execute("INSERT INTO datatable VALUES (?, ?)", values)
        conn.commit()
    else:
        print("exists")
    conn.close()

In [36]:
cur.execute("select * from datatable")
cur.fetchall()

[('url1', ',hi,hello,hey'),
 ('url2', ',hi,heyo,hello'),
 ('url3', ',hi,hey,hello'),
 ('url4', ',hi,test,bye')]

In [18]:
# SQL gives each row a pseudocolumn, rowid
cur.execute("SELECT rowid, * FROM datatable")
cur.fetchall()

[]

In [19]:
from ipynb.fs.full.Common_Elements_Algorithm import hasCommonElements

l1 = [1, 2, 3, 4]
l2 = [3, 2, 1, 4]
hasCommonElements(l1, l2, 5)

False

In [20]:
cur.execute("select keywords from datatable")
for row in cur:
    keyWordList = row[0].split(",")
    print(keyWordList)

In [21]:
def findMatches(inputKeys, degreesOfSimilarity):
    searchList = []
    conn = sql.connect("data.db")
    cur = conn.cursor()
    cur2 = conn.cursor()
    cur.execute("select keywords from datatable")
    cur2.execute("select text from datatable")
    x = cur2.fetchall()
    i = 0
    for row in cur:
        keyWordList = row[0].split(",")
        if hasCommonElements(keyWordList, inputKeys, degreesOfSimilarity) == True:
            keyWordList[0] = x[i]
            searchList.append(keyWordList)
        i = i + 1
    conn.commit()
    conn.close()
    return searchList

In [34]:
t = "url1"
x = ",hi,hello,hey"
values = [t, x]
insert(values)
t = "url2"
x = ",hi,heyo,hello"
values = [t, x]
insert(values)
t = "url3"
x = ",hi,hey,hello"
values = [t, x]
insert(values)
t = "url4"
x = ",hi,test,bye"
values = [t, x]
insert(values)

In [16]:
conn.commit()
conn.close()

In [44]:
testlist = ['woman', "New", 'Zealand']
print(findMatches(testlist, 1))

[[('url4',), 'woman', 'test', 'bye'], [('url5',), 'woman', 'New', 'Zealand']]

In [42]:
t = "url5"
x = ",woman,test,bye"
values = [t, x]
insert(values)