In [7]:
import sqlite3 as sql

In [8]:
conn = sql.connect("input.db")

In [9]:
cur = conn.cursor()

In [10]:
cur.execute("CREATE TABLE box(variable int, variable1 varchar(5));")

OperationalError: table box already exists

In [ ]:
cur.fetchall()

In [16]:
cur.execute("SELECT name FROM sqlite_schema WHERE type= 'table' AND name NOT LIKE 'sqlite_%';")

In [17]:
cur.fetchall()

[('box',)]

In [19]:
conn.commit()

ProgrammingError: Cannot operate on a closed database.

In [20]:
conn.close()