In [2]:
import sqlite3 as sql

In [8]:
conn = sql.connect("tester.db")
cur = conn.cursor()
cur.execute("CREATE TABLE hey (first int, second varchar(5));")

In [9]:
cur.execute("SELECT name FROM sqlite_schema WHERE type = 'table' AND name NOT LIKE 'sqlite_%';")
cur.fetchall()

[('blank',), ('hey',)]