In [2]:
import sqlite3 as sql

In [1]:
conn = sql.connect("tester2.db")
cur = conn.cursor()
cur.execute("CREATE TABLE hey (first int, second varchar(5));")

NameError: name 'sql' is not defined

In [2]:
cur.execute("SELECT name FROM sqlite_schema WHERE type = 'table' AND name NOT LIKE 'sqlite_%';")
cur.fetchall()
conn.commit()
conn.close()

NameError: name 'cur' is not defined